server:
  listen_address: <%= node['gitlab']['gitlab-monitor']['listen_address'] %>
  listen_port: <%= node['gitlab']['gitlab-monitor']['listen_port'] %>

probes:
  database:
    multiple: true
<% unless node['gitlab']['gitlab-monitor']['database'].nil? || node['gitlab']['gitlab-monitor']['database'].empty? %>
    <% node['gitlab']['gitlab-monitor']['database'].each do |prober,enabled| %>
      <% if enabled == true %>
    <%= prober %>:
      class_name: Database::<%= prober.split('_').collect(&:capitalize).join %>Prober
      methods:
        - probe_db
      opts:
        connection_string: dbname=<%= node['gitlab']['gitlab-rails']['db_database'] %> user=<%= node['gitlab']['gitlab-rails']['db_username'] %> host=<%= node['gitlab']['postgresql']['dir'] %>
      <% end %>
    <% end %>
  <% else %>
    tuples:
      class_name: Database::TuplesProber
      methods:
        - probe_db
      opts:
        connection_string: dbname=<%= node['gitlab']['gitlab-rails']['db_database'] %> user=<%= node['gitlab']['gitlab-rails']['db_username'] %> host=<%= node['gitlab']['postgresql']['dir'] %>
  <% end %>
   
  process:
    methods:
      - probe_memory
      - probe_age
      - probe_count
    opts:
      - pid_or_pattern: "sidekiq .* \\[.*?\\]"
        name: sidekiq
      - pid_or_pattern: "unicorn worker\\[.*?\\]"
        name: unicorn
      - pid_or_pattern: "git-upload-pack --stateless-rpc"
        name: git_upload_pack
        quantiles: true
  sidekiq:
    methods:
      - probe_queues
      - probe_jobs
      - probe_workers
      - probe_retries
    opts:
      redis_url: "<%= @redis_url %>"
